@charset "UTF_8";

@font-face {
  font-family: Amaticsc-regular;
  src: url(../font/AMATICSC-REGULAR.TTF);
}

@font-face {
  font-family: Gothic-regular;
  src: url(../font/GOTHIC.TTF);
}

@font-face {
  font-family: Rockwell-bold;
  src: url(../font/ROCKWELL-NOVA-W07-COND-BOLD.TTF);
}


* {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

body {
  margin: 0 auto;
  max-width: 100%;
}

/*cmn-class*/
.wrapper {
  margin: 0 auto;
  max-width: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
  font-size: 0;
  content: "";
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.cmn-sub-ttl {
  color: #ffffff;
  font-family: Rockwell-bold;
  font-size: 40px;
}

.cmn-btn {
  padding: 0 30px;
  border: solid #ffffff;
  color: #ffffff;
  font-family: Amaticsc-regular;
  font-size: 30px;
  font-weight: bolder;
}

.cmn-btn span {
  margin: 0 0 30px 15px;
  font-size: 20px;
}

.cmn-btn:hover {
  border: solid #D50C0D;
  background-color: #ffffff;
  color: #D50C0D;
}

/*header*/
.header {
  position: fixed;
  z-index: 8;
  width: 100%;
  padding-bottom: 12px;
  background-color: rgb(255, 255, 255, 0.3);
}

.logo a {
  float: left;
  margin-top: 5px;
}

.menu-blk {
  float: right;
}

.menu-blk li {
  float: left;
  margin: 33px 0 0 30px;
  padding: 7px 34px;
  border: solid #D50C0D;
  text-align: center;
  border-radius: 20px;
}

.menu-blk li a {
  color: #010101;
  font-family: Rockwell-bold;
  font-size: 18px;
}

.menu-blk li:hover,
.menu-blk .active {
  background-color: #D50C0D;
}

.menu-blk li a:hover,
.menu-blk .active a {
  color: #ffffff;
}

.menu-btn {
  display: none;
}

/*main-vs*/
/*.main-vs h2{
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: -14%;
}*/

.main-vs h2 {
  padding: 207px 0 142px;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

.main-vs {
  background-image: url(../img/common/mv_img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*footer*/
.footer {
  background-image: url(../img/common/foot_img.jpg);
}

.info-blk {
  width: 382px;
  text-align: center;
}

.info-blk-ttl {
  margin-bottom: 30px;
  color: #ffffff;
  font-family: Amaticsc-regular;
  font-size: 50px;
}

.txt,
.txt {
  line-height: 30px;
  color: #ffffff;
  font-family: Gothic-regular;
  font-size: 16px;
}

.footer ul {
  padding: 83px 0;
}

/*.info-blk ul li*/
.footer ul li {
  float: left;
  margin-right: 60px;
}

.footer ul li:nth-child(3n) {
  margin-right: 0;
}

.info-blk span {
  display: block;
}

.social-ico i {
  padding: 15px;
  background-color: #ffffff;
  color: #D50C0D;
  border-radius: 100%;
}

.social-ico i {
  margin-right: 10px;
  text-align: center;
}
.social-ico {
  width: 120px;
  margin: 20px auto 0 auto;
}

.f-left {
  float: left;
  
}

.f-right {
  float: right;
}

.copyright {
  padding: 15px 0;
  background-color: #AF3132;
}

.copyright p span {
  color: #010101;
  font-weight: 900;
}

/*----------------------------------------------------------------------------*/

@media screen and (min-width: 768px)and (max-width: 1040px) {
  .container {
    width: 95%;
  }

  .cmn-sub-ttl {
    font-size: 5.208vw;
  }

  .cmn-btn {
    padding: 0.2vw 3.5vw;
    font-size: 3.906vw;
  }

  .cmn-btn span {
    margin: 0 0 3.906vw 1.953vw;
    font-size: 2.604vw;
  }

  /*header*/
  .header {
    padding: 0 0 1.563vw 2.604vw;
  }

  .logo a {
    margin-top: 0.651vw;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 50%;
    right: 6%;
    z-index: 9;
    width: 5.469vw;
    height: 5.469vw;
    text-align: center;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .nav-inner {
    position: fixed;
    top: 21%;
    right: 0;
    z-index: 8;
    width: 100%;
    height: 100vh;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    overflow-y: scroll;
  }

  .nav-inner ul li {
    width: 100%;
    padding: 2.604vw 0;
  }

  .nav-inner.active {
    transform: translateX(0%);
  }

  .nav-inner ul {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
  }

  .nav-inner ul li {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 3.900vw 0;
    text-align: right;
  }

  .menu-blk li {
    border: none;
    border-radius: 0;
  }

  .menu-blk li a.top-btn {
    display: inline-block;
    width: 60%;
    padding: 1.953vw 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #010101;
    max-width: 29.167vw;
  }

  .menu-blk li a {
    padding-right: 5%;
    color: #000000;
    font-size: 2.808vw;
  }

  .menu-blk li span {
    font-size: 1.872vw;
  }

  .menu-blk li {
    margin: 0;
  }

  /*.menu-blk li:hover{
    background-color: transparent;
  }

  .menu-blk li a:hover{
    color: #010101;
  } in case hover not needed*/

  .menu-blk li a {
    font-family: Rockwell-bold;
    font-size: 5.208vw;
  }

  .menu-blk .active {
    background: transparent;
  }

  .menu-blk .active a {
    color: #000000;
  }

  .main-vs h2 {
    width: 100%;
    padding: 26.7vw 0 18.8vw;
    font-size: 6.51vw;
  }

  /*footer*/
  .info-blk {
    width: 42.74vw;
  }

  .info-blk-ttl {
    margin-bottom: 2.906vw;
    font-size: 6.51vw;
  }

  .txt {
    line-height: 3.906vw;
    font-size: 2.083vw;
  }

  .footer ul {
    padding: 7.807vw 0 5.3vw;
  }

  .footer ul li {
    margin-right: 4vw;
  }

  .footer ul li:nth-child(2n) {
    margin-right: 0;
  }

  .footer ul li:nth-child(3n) {
    margin-top: 5.948vw;
  }

  .social-ico i {
    padding: 1.953vw;
  }

  .social-ico i {
    margin-right: 1.302vw;
  }

  .social-ico {
    width: 15.625vw;
    margin: 2.604vw auto 0 auto;
  }

  .copyright {
    padding: 0.953vw 2.734vw 1.953vw;
  }

}

/*----------------------------------------------------------------------------*/

@media screen and (max-width:767.9px) {

  .container {
    width: 95%;
  }

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  .cmn-sub-ttl {
    font-size: 6.25vw;
  }

  .cmn-btn {
    padding: 0 2.688vw;
    font-size: 4.688vw;
  }

  .cmn-btn span {
    margin: 0 0 4.688vw 2.344vw;
    font-size: 3.125vw;
  }

  /*header*/
  .header {
    padding: 0 0 1.875vw 3.125vw;
  }

  .logo a {
    margin-top: 0.781vw;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 50%;
    right: 6%;
    z-index: 9;
    width: 6.563vw;
    height: 6.563vw;
    text-align: center;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .nav-inner {
    position: fixed;
    top: 27.7%;
    right: 0;
    z-index: 8;
    width: 100%;
    height: 100vh;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    overflow-y: scroll;
  }

  .nav-inner ul li {
    width: 100%;
    padding: 3.125vw 0;
  }

  .nav-inner.active {
    transform: translateX(0%);
  }

  .nav-inner ul {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
  }

  .nav-inner ul li {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 4.688vw 0;
    text-align: right;
  }

  .menu-blk li {
    border: none;
    border-radius: 0;
  }

  .menu-blk li a.top-btn {
    display: inline-block;
    width: 60%;
    padding: 2.344vw 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #010101;
    max-width: 35vw;
  }

  .menu-blk li a {
    padding-right: 5%;
    color: #000000;
    font-size: 3.281vw;
  }

  .menu-blk li span {
    font-size: 2.188vw;
  }

  .menu-blk li {
    margin: 0;
  }

  .menu-blk li a {
    font-family: Rockwell-bold;
    font-size: 6.25vw;
  }

  .menu-blk .active {
    background: transparent;
  }

  .menu-blk .active a {
    color: #000000;
  }

  /*main-vs*/
  .main-vs {
    background-image: url(../img/common/mv_sp_img.jpg);
  }

  .main-vs h2 {
    width: 100%;
    padding: 26.031vw 0 13.2vw;
    font-size: 7.813vw;
  }

  /*footer*/
  .info-blk {
    width: 41.25vw;
  }

  .info-blk-ttl {
    margin-bottom: 1.7vw;
    font-size: 5.813vw;
  }

  .txt {
    line-height: 4.688vw;
    font-size: 2.344vw;
  }

  .footer ul {
    padding: 9.375vw 0 6.25vw;
  }

  .footer ul li {
    margin-right: 8vw;
  }

  .footer ul li:nth-child(2n) {
    margin-right: 0;
  }

  .footer ul li:nth-child(3n) {
    margin: 11.031vw 0 3vw;
  }

  .social-ico i {
    padding: 2.344vw;
  }

  .social-ico i {
    margin-right: 1.563vw;
  }

  .social-ico {
    width: 18.75vw;
    margin: 3.125vw auto 0 auto;
  }

  .copyright p {
    float: none;
    text-align: center;
  }

  .copyright {
    width: 100%;
    padding: 0;
  }
}