@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {

  display: block;

  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;
  line-height: 0;
  padding: 0;
  border: none;
  background: transparent;

  color: transparent;
  font-size: 0;
  outline: none;

  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: transparent;
  color: transparent;
  outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  width: 56px;
  line-height: 1;
  padding: 13px 20px;
  background-color: #A51A1B;
  color: #fff;
  font-family: 'Font Awesome 5 Free';
  font-size: 30px;
  font-weight: 900;

  opacity: .6;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
 z-index: 7;
  top: 150px;
  left: 70px;

}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '\f104';
}

[dir='rtl'] .slick-prev:before {
  content: '\f105';
}

.slick-next {
  top: 150px;
  right: -30px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '\f105';
}

[dir='rtl'] .slick-next:before {
  content: '\f104';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {

  display: block;
  position: absolute;
  bottom: -25px;

  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  text-align: center;
}

.slick-dots li {

  display: inline-block;
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {

  display: block;

  width: 20px;
  height: 20px;
  line-height: 0;
  padding: 5px;
  border: 0;
  background: transparent;

  color: transparent;
  font-size: 0;
  outline: none;

  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  line-height: 20px;
  color: black;
  font-family: 'slick';
  font-size: 6px;
  text-align: center;

  content: '•';

  opacity: .25;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: .75;
}

/*  Ipad  */
@media screen and (min-width: 768px) and (max-width: 1040px) {

  .slick-prev {
    top:16.927vw;
    left:-1.302vw;
  }

  [dir='rtl'] .slick-prev {
    right: -3.255vw;
    left: auto;
  }

  .slick-prev:before {
    content: '\f104';
  }

  [dir='rtl'] .slick-prev:before {
    content: '\f105';
  }

  .slick-next {
    top:16.927vw;
    right: 4.557vw;
  }

  [dir='rtl'] .slick-next {
    right: auto;
    left: -3.255vw;
  }

  .slick-next:before {
    content: '\f105';
  }

  [dir='rtl'] .slick-next:before {
    content: '\f104';
  }

}

/*  SP  */
@media screen and (max-width:767.9px) {
  .slick-prev {
    top:21.875vw;
    left:-0.381vw;
  }

  [dir='rtl'] .slick-prev {
    right: -3.906vw;
    left: auto;
  }

  .slick-prev:before {
    content: '\f104';
  }

  [dir='rtl'] .slick-prev:before {
    content: '\f105';
  }

  .slick-next {
    top: 21.875vw;
    right: 4.688vw;
  }

  [dir='rtl'] .slick-next {
    right: auto;
    left:-3.906vw;
  }

  .slick-next:before {
    content: '\f105';
  }

  [dir='rtl'] .slick-next:before {
    content: '\f104';
  }
}