
.wrapper {
  width: 100%;

}

.container {
  width: 1280px;
  margin: auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}


@font-face {
  font-family: Amaticsc-regular;
  src: url(../font/AMATICSC-REGULAR.TTF);
  font-weight: normal;
}

@font-face {
  font-family: Gothic-regular;
  src: url(../font/GOTHIC.TTF);
  font-weight: normal;
}

@font-face {
  font-family: Rockwell-bold;
  src: url(../font/ROCKWELL-NOVA-W07-COND-BOLD.TTF);
  font-weight: normal;
}







/*about*/
/*story-sec*/
.story-sec {
  padding: 80px 0 69px;
  background-color: #1c1c1c;
  text-align: right;
}

.story-info,
.story-img {
  width: 588px;
}

.story-info {
  text-align: right;
}

.story-info h2 {
  margin-bottom: 32px;
}

.story-info h2 span {
  color: #AF3132;
}

.story-info {
  margin-left: 38px;
}

.story-info p {
  margin-bottom: 60px;
}

.story-img {
  margin-right: 35px;
}

/*chef-sec*/
.chef-sec {
  padding: 78px 0;
  background-color: #ffffff;
  text-align: center;
}

.chef-sec h2 {
  margin-bottom: 30px;
  color: #1c1c1c;
}

.chef-sec p {
  margin-bottom: 50px;
  color: #333333;
}

.chef-sec ul li {
  float: left;
  width: 400px;
  background-image: linear-gradient(#ffffff 20%, #F9F9F9 20%);
  text-align: center;
}

.chef-sec ul li img {
  width: 217px;
  margin-left: 20px;
}

.chef-sec ul li h2 {
  margin: 20px 0;
  color: #1c1c1c;
  font-size: 30px;
}

.chef-sec ul li h2 span {
  display: block;
  color: #AF3132;
  font-family: Amaticsc-regular;
}

.chef-sec ul li p {
  margin: 0 33px;
}

.chef-sec ul li .social-ico {
  margin-bottom: 34px;
}

.chef-sec ul li {
  margin-right: 30px;
}

.chef-sec ul li:nth-child(3n) {
  margin-right: 0;
}




/*Contact Page*/
.sec-contact {
  padding: 75px 0 85px 0;
  background-color: #1C1C1C;
}

.contact-form {
  float: left;
  width: 50%;

}

.form-cmn-txt {
  margin-left: 38px;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
}

input,
textarea {
  display: block;
  width: 588px;
  margin-top: 10px;
  margin-bottom: 33px;
  margin-left: 38px;
  padding: 11px 0;
  border: 1px solid #707070;
  box-sizing: border-box;
  background: transparent;
}

textarea {
  margin-bottom: 40px;
  padding-bottom: 98px;
  box-sizing: border-box;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  padding-left: 10px;
  color: #a2a2a2;
  font-size: 16px;


}

.send-btn {
  position: relative;
  margin-left: 38px;
  padding: 3px 50px 1px 25px;
  border: 2px solid #707070;
  color: #fff;
  font-family: 'Amatic SC', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.send-btn::after {
  position: absolute;
  top: 50%;
  left: 78%;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  content: "\f30b";
  transform: translateY(-50%);
}

.contact-map {
  float: left;
  width: 47%;
}

iframe {
  width: 600px;
  height: 530px;
  padding-top: 30px;
  padding-left: 17px;
  border: 0;
}



/*Menu Page*/

.sec-menu {
  padding-bottom: 50px;
  background-color: #1C1C1C;

}

.menu-tab-nav {
  margin-left: 230px;
  text-align: center;
}

.menu-tab-nav li {
  position: relative;
  float: left;
  width: 80px;
  margin-top: -44px;
  margin-right: 83px;
  margin-bottom: 50px;
  text-align: center;
}

.menu-tab-nav li:nth-child(4n) {
  width: 139px;
  margin-right: 60px;
}

.menu-tab-nav li img {
  width: 80px;
  margin-left: 27px;
}

.menu-tab-nav li .nav-hover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0%;
  z-index: 99;
}

.menu-tab-nav li:nth-child(4n) .nav-hover {
  left: 11%;
}

.menu-tab-nav li:hover .nav-hover,
.menu-tab-nav li a.active .nav-hover {
  display: block;
}

.menu-cmn-txt {
  width: 130px;
  padding-top: 13px;
  color: #fff;
  font-family: 'Amatic SC', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.menu-tab-nav li:nth-child(4n) .menu-cmn-txt {
  width: 160px;
}

.menu-tab-content li {
  position: relative;
  float: left;
  width: 220px;
  margin-top: 53px;
  margin-right: 23px;
  margin-bottom: 63px;
  margin-left: 65px;
}

.menu-tab-content li:nth-child(4n) {
  margin-right: 0;
}

.menu-tab-content li img {
  position: relative;
  border: 2px solid #fff;
  border-radius: 50%;

}

.menu-content-txt {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  z-index: 7;
  padding: 6px 0px;
  background-color: #D50C0D;
  color: #fff;
  font-family: 'Amatic SC', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/*Menu-detail*/
.sec-menu-detail {
  padding: 50px 0 30px 0;
  background-color: #1C1C1C;
}

.detail-left-column {
  float: left;
  width: 50%;
}

.detail-right-column {
  float: right;
  width: 50%;
}

.detail-left-column img {
  width: 580px;
  margin-top: 20px;
  padding-left: 75px;
}

.detail {
  width: 555px;
  padding-left: 15px;
}

.detail .menu-cmn-txt {
  width: 555px;
  padding: 30px 0 16px 0px;
  font-size: 40px;
  text-align: left;
  border-bottom: 1px dashed #fff;
}

.detail .menu-cmn-txt span {
  float: right;
  color: #D50C0D;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;

}

.detail-txt,
.detail li {
  line-height: 30px;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;

}

.detail-txt {
  padding: 20px 0px 15px 0px;
}

.detail li {
  position: relative;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.available-size {
  padding-left: 34px;
}

.detail li::before {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  color: #D50C0D;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  content: "\f562";
  transform: translateY(-50%);
}

.detail-cmn-ttl {
  padding-bottom: 20px;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
  font-size: 25px;
}

.topping-col {
  float: left;
  width: 50%;
}

.available-col {
  float: right;
  width: 50%;

}

.order-btn {
  position: relative;
  margin-top: 40px;
  margin-left: 30px;
  padding: 2px 45px;
  border: none;
  background-color: #D50C0D;
  color: #fff;
  font-family: 'Amatic SC', sans-serif;
  font-size: 30px;
}

.order-btn::before {
  position: absolute;
  top: -25%;
  right: 80%;
  content: url(../img/menu/img_order_button.png);
}

.available-col .social-ico {
  width: 120px;
  margin: 55px 0 0 12px;
}


.sec-menu-slider {
  padding: 50px 0px 80px 0;
  background-color: #1C1C1C;
}

.sec-menu-slider .detail-cmn-ttl {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0px 0px 40px 70px;
  font-size: 30px;
}

.sec-menu-slider .detail-cmn-ttl::after {
  position: absolute;
  top: 40%;
  right: 0;
  left: 18%;
  width: 73%;
  content: '';
  transform: translateY(-50%);
  border-bottom: 1px dashed #707070;
}

.menu-slide {
  width: 1143px;
  padding-left: 140px;
}

.menu-slide li {
  position: relative;
  float: left;
  width: 214px;
  margin-top: 55px;
  margin-right: 60px;
}

.menu-slide li img {
  position: relative;
  width: 204px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.menu-slide .menu-content-txt {
  position: absolute;
  top: 83%;
  width: 214px;
  padding: 4px 0px;
  color: #fff;
  font-family: 'Amatic SC', sans-serif;
  font-size: 27px;
}

/*Branches Page*/
.sec-branches {
  padding-bottom: 50px;
  background-color: #1C1C1C;
}

.branches-ttl {
  padding: 85px 0 15px 0;
  color: #fff;
  font-family: 'RockwellNovaW07-CondBold';
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.img-1,
.img-2,
.img-3 {
  width: 588px;

}

.img-1 {
  margin: 40px 0px 40px 35px;
}

.img-2 {
  float: right;
  margin: 40px 35px 40px 0px;
}

.img-3 {
  float: left;
  margin: 42px 0px 40px 35px;
}

.branch-txt-box1,
.branch-txt-box2,
.branch-txt-box3 {
  width: 588px;
  background-color: #D50C0D;


}

.branch-txt-box1 {
  float: right;
  margin: 40px 35px 40px 0px;
}

.branch-txt-box2 {
  float: left;
  margin: 40px 0px 40px 35px;
}

.branch-txt-box3 {
  float: right;
  margin: 40px 35px 40px 0px;
}

.branch-txt-ttl {
  position: relative;
  padding-bottom: 30px;
  padding-left: 26px;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
  font-weight: bold;

}

.branch-txt-box3 .branch-txt {
  padding-top: 60px;
  padding-bottom: 3px;
}

.branch-txt-box2 .branch-txt {
  padding-top: 53px;
  padding-bottom: 3px;
}

.branch-txt-ttl::before {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 900;
  content: "\f3c5";
  transform: translateY(-50%);

}

.branch-txt {
  padding: 50px 30px 6px 30px;
}

.branch-info-txt {
  width: 520px;
  line-height: 30px;
  padding-bottom: 33px;
  color: #fff;
  font-family: 'Century Gothic';
  font-size: 16px;
  font-weight: normal;
  list-style-type: none;

}

.address,
.phone,
.time {
  position: relative;
  padding-left: 25px;
}

.address {
  padding-top: 22px;
}

.address::before,
.phone::before,
.time::before {
  position: absolute;
  left: 0;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  transform: translateY(-50%);

}

.address::before {
  top: 35%;
  content: "\f276";
}

.phone::before {
  top: 30%;
  content: "\f879";
}

.time::before {
  top: 25%;
  content: "\f073";
}

.branch-info-txt a {
  color: #fff;
}

/*  Ipad  */
@media screen and (min-width: 768px) and (max-width: 1040px) {
  .container {
    width: 89.583vw;
    margin: auto;
  }



 /*about*/
  /*story-sec*/
  .story-sec {
    padding: 9.717vw 0 8.984vw;
  }

  .story-info,
  .story-img {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .story-info h2 {
    margin-bottom: 4.167vw;
  }

  .story-info p {
    margin-bottom: 8.813vw;
  }

  .story-img img {
    width: 76.693vw;
    margin: 7.1vw 9.115vw 0;
  }


  /*chef-sec*/
  .chef-sec {
    padding: 8.45vw 0;
  }

  .chef-sec h2 {
    margin-bottom: 3.906vw;
  }

  .chef-sec p {
    margin-bottom: 6.51vw;
  }

  .chef-sec ul li {
    width: 43.2vw;
  }

  .chef-sec ul li img {
    width: 28.255vw;
    margin-left: 2.604vw;
  }

  .chef-sec ul li h2 {
    margin-bottom: 1.604vw;
    font-size: 3.906vw;
  }

  .chef-sec ul li p {
    margin: 0 4.297vw;
  }

  .chef-sec ul li .social-ico {
    margin-bottom: 4.427vw;
  }

  .chef-sec ul li {
    margin: 0 2.92vw 2.604vw 0;
  }

  .chef-sec ul li:nth-child(2n) {
    margin-right: 0;
  }

  .chef-sec ul li:nth-child(3n) {
    margin-left: 26%;
  }





  /*Contact Page*/
  .sec-contact {
    margin-top: 0vw;
    padding: 9.635vw 0vw 11.068vw 0vw;
  }

  .form-cmn-txt {
    margin-left: 0vw;
    font-size: 2.083vw;
  }

  .contact-form {
    width: 50%;
  }

  input,
  textarea {
    width: 42.188vw;
    margin-top: 1.302vw;
    margin-bottom: 4.297vw;
    margin-left: 0vw;
    padding: 1.432vw 0vw;
    border: 0.130vw solid #707070;
  }

  textarea {
    margin-bottom: 4.948vw;
    padding-bottom: 13.021vw;
  }

  input::placeholder,
  textarea::placeholder {
    padding-left: 1.693vw;
    font-size: 2.083vw;

  }

  .send-btn {
    margin-left: 0vw;
    padding: 0.521vw 6.510vw 0.130vw 3.255vw;
    border:0.130vw solid #fff;
    font-size: 3.906vw;
  }

  .send-btn::after {
    top: 50%;
    left: 78%;
    font-size: 2.344vw;
    font-weight: 900;
  }

  .contact-map {
    width: 50%;
  }

  iframe {
    width: 44.792vw;
    height:69.010vw;
    padding-top:3.906vw;
    padding-left: 2.604vw;

  }

  /*Menu Page*/
  .sec-menu {
    padding-bottom:5.208vw;
  }

  .menu-tab-nav {
    margin-left: 0vw;
    text-align: center;
  }

  .menu-tab-nav li {
    position: relative;
    float: left;
    width: 10.417vw;
    margin-top: -5.729vw;
    margin-right: 9.115vw;
    margin-bottom:6.510vw;
    text-align: center;
  }

  .menu-tab-nav li:nth-child(3n) {
    margin-right: 7.161vw;
  }

  .menu-tab-nav li:nth-child(4n) {
    width:16.406vw;
    margin-right:5.859vw;
  }

  .menu-tab-nav li:nth-child(5n) {
    margin-right: 0vw;
  }

  .menu-tab-nav li img {
    width: 10.417vw;
    margin-left: 0vw;
  }

  .menu-tab-nav li .nav-hover {
    left: 0%;
    z-index: 7;

  }

  .menu-tab-nav li:nth-child(4n) .nav-hover {
    left: 19%;

  }

  .menu-tab-nav li:hover .nav-hover,
  .menu-tab-nav li a.active .nav-hover {
    display: block;
  }

  .menu-nav-txt {
    width: 10.417vw;
    padding-top:1.693vw;
    color: #fff;
    font-family: 'Amatic SC', sans-serif;
    font-size: 4.557vw;
    font-weight: bold;
    text-align: center;

  }

  .menu-tab-nav li:nth-child(4n) .menu-nav-txt {
    width: 18.099vw;

  }

  .menu-tab-content {
    width: 89.583vw;
    margin-left: 0vw;
  }

  .menu-tab-content li {
    position: relative;
    float: left;
    width:25.391vw;
    margin-top: 3.255vw;
    margin-right:6.510vw;
    margin-bottom: 2.865vw;
    margin-left: 0vw;
  }

  .menu-tab-content li:nth-child(3n) {
    margin-right: 0vw;
  }

  .menu-tab-content li:nth-child(4n) {
    margin-right: 6.510vw;
  }

  .menu-tab-content li:nth-child(12n) {
    margin-right: 0vw;
  }

  .menu-tab-content li img {
    position: relative;
    width:25.391vw;
    border: 0.260vw solid #fff;
    border-radius: 50%;

  }

  .menu-content-txt {
    position: absolute;
    top: 80%;
    right: 0;
    left: 0;
    z-index: 99;
    padding: 0.651vw 0vw;
    background-color: #D50C0D;
    color: #fff;
    font-family: 'Amatic SC', sans-serif;
    font-size:3.125vw;
    font-weight: bold;
    text-align: center;
  }


  /*Menu-detail*/
  .sec-menu-detail {
    padding-top:6.510vw;
    background-color: #1C1C1C;
  }

  .detail-left-column {
    float: none;
    width: 100%;
  }

  .detail-right-column {
    float: none;
    width: 100%;

  }

  .detail-left-column img {
    width: 60.286vw;
    margin:2.604vw 9.766vw 0vw 9.766vw;

  }

  .detail {
    width: 100%;
    padding-left: 0vw;

  }

  .detail .menu-cmn-txt {
    width: 100%;
    padding-bottom:2.604vw;
    font-size:5.208vw;
    text-align: left;
    border-bottom:0.260vw dashed #fff;
  }

  .detail .menu-cmn-txt span {
    float: right;
    color: #D50C0D;
    font-family: 'Century Gothic', sans-serif;
    font-size: 3.906vw;

  }

  .detail-txt,
  .detail li {
    line-height:3.906vw;
    padding: 1.953vw 0vw 3.255vw 0vw;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    font-size: 2.083vw;
  }

  .detail li {
    position: relative;
    padding-top: 0vw;
    padding-bottom:0.781vw;
    padding-left:3.906vw;
  }

  .detail li::before {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    color: #D50C0D;
    font-family: "Font Awesome 5 Free";
    font-size: 2.083vw;
    font-weight: 900;
    content: "\f562";
    transform: translateY(-50%);
  }

  .detail-cmn-ttl {
    padding-bottom: 2.604vw;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    font-size: 3.255vw;
  }

  .topping-col {
    float: left;
    width: 48%;
  }

  .available-col {
    float: right;
    width: 52%;

  }

  .available-size {
    padding-left: 0vw;
  }

  .available-col .social-ico {
    width:15.625vw;
    margin:7.161vw 0vw 0vw 0.911vw;
  }

  .sec-menu-slider {
    padding: 5.208vw 0vw 9.115vw 0vw;
  }

  .sec-menu-slider .detail-cmn-ttl {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0;
    font-size: 30px;
  }

  .sec-menu-slider .detail-cmn-ttl::after {
    top: 85%;
    right: 0;
    left: 26%;
    width: 73%;
  }

  .menu-slide {
    width: 100%;
    margin-top: 0vw;
    padding-left: 0vw;
  }

  .menu-slide li {
    position: relative;
    width: 26.302vw;
    margin:4.557vw 1.302vw 0vw  2.604vw;
  }

  .menu-slide li img {
    width: 25.391vw;
    border: 0.260vw solid #fff;
    border-radius: 50%;
  }

  .menu-slide .menu-content-txt {
    top: 85%;
    width:25.260vw;
    padding:0.391vw 0vw;
    font-size:3.255vw;
  }

  /*Branches*/
  .sec-branches {
    padding-bottom: 3.385vw;
  }

  .branches-ttl {
    padding:11.068vw 0vw 2.604vw 0vw;
    color: #fff;
    font-family: 'RockwellNovaW07-CondBold';
    font-size: 5.208vw;
    text-align: center;
  }

  .img-1,
  .img-2,
  .img-3 {
    position: relative;
    width: 77.344vw;
    margin: 2.604vw 0vw 5.990vw 0vw;
  }

  .img-2 {
    right: 0;
    float: right;
  }

  .img-3 {
    float: left;
  }

  .branch-txt-box1,
  .branch-txt-box2,
  .branch-txt-box3 {
    position: absolute;
    width: 56.250vw;
    margin: 2.604vw 0vw 5.208vw 0vw;

  }

  .branch-txt-box1 {
    top: 75.521vw;
    left: 39%;
    float: right;
  }

  .branch-txt-box2 {
    top: 131vw;
    left: 5%;
    float: left;
  }

  .branch-txt-box3 {
    top: 187vw;
    left: 39%;
    float: right;

  }

  .branch-txt-box2 .branch-txt {
    padding-top: 5.599vw;
    padding-bottom:2.083vw;
  }

  .branch-txt-box3 .branch-txt {
    padding-top:5.208vw;
    padding-bottom: 2.083vw;
  }

  .branch-txt-ttl {
    position: relative;
    padding-bottom: 0.651vw;
    padding-left: 3.906vw;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    font-size:3.906vw;
    font-weight: bold;
  }

  .branch-txt-ttl::before {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-size:3.906vw;
    font-weight: 900;
    content: "\f3c5";
    transform: translateY(-50%);

  }

  .branch-txt {
    padding: 5.859vw 3.906vw 1.563vw 3.255vw;
  }

  .branch-info-txt {
    width: 48.177vw;
    line-height: 3.906vw;
    padding-bottom: 2.604vw;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 2.083vw;
    font-weight: normal;
  }

  .address,
  .phone,
  .time {
    position: relative;
    width: 49.479vw;
    padding-left:3.255vw;
  }

  .address::before,
  .phone::before,
  .time::before {
    color: #fff; 
    font-size: 1.953vw;
  }

  .address::before {
    top: 40%;
    content: "\f276";
  }

  .phone::before {
    top: 30%;
    content: "\f879";
  }

  .time::before {
    top: 30%;
    content: "\f073";
  }

  .branch-info-txt a {
    color: #fff;
  }

}

/*  SP  */
@media screen and (max-width:767.9px) {
  .container {
    width: 90.625vw;
    margin: auto;
  }


/*about*/
  /*story-sec*/
  .story-sec {
    padding: 7.719vw 0 0.781vw;
  }

  .story-info,
  .story-img {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .story-info h2 {
    margin-bottom: 2.5vw;
  }

  .story-info p {
    margin-bottom: 3.2vw;
  }

  .story-img img {
    width: 69.83vw;
    margin: 7.1vw auto;
  }


  /*chef-sec*/
  .chef-sec {
    padding: 8.156vw 0 4.156vw;
  }

  .chef-sec h2 {
    margin-bottom: 4.688vw;
  }

  .chef-sec p {
    margin-bottom: 0.813vw;
  }

  .chef-sec ul li {
    float: none;
    width: 60.063vw;
    margin: 0 auto;
    padding-bottom: 0.568vw;
  }

  .chef-sec ul li img {
    width: 33.906vw;
    margin-left: -2vw;

  }

  .chef-sec ul li h2 {
    margin: 1.563vw 0 4vw;
    font-size: 4.688vw;
  }

  .chef-sec ul li p {
    margin: 0 5.156vw;
  }

  .chef-sec ul li .social-ico {
    margin-bottom: 8.313vw;
  }

  .chef-sec ul li:nth-child(2n) {
    margin: 0 auto;
  }

  .chef-sec ul li:nth-child(3n) {
    margin: 0 auto;
  }





  /*Contact Page*/
  .sec-contact {
    padding:8.594vw 0vw 7.031vw 0vw;
  }

  .form-cmn-txt {
    margin-left: 0vw;
    font-size: 2.188vw;
  }

  .contact-form {
    float: none;
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 0.781vw;
    margin-bottom:3.438vw;
    margin-left: 0vw;
    padding:1.250vw 0vw;
    border:0.156vw solid #707070;
  }

  textarea {
    margin-bottom: 5.156vw;
    padding-bottom: 16.406vw;
  }

  input::placeholder,
  textarea::placeholder {
    padding-left:1.563vw;
    font-size: 2.188vw;

  }

  .send-btn {
    margin-left: 0vw;
    padding:0.625vw 7.813vw 0.313vw 3.438vw;
    border:0.156vw solid #fff;
    font-size: 3.906vw;
  }

  .send-btn::after {
    top: 50%;
    left: 75%;
    font-size: 2.813vw;
    font-weight: 900;
  }

  .contact-map {
    float: none;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 39.844vw;
    padding-top: 9.063vw;
    padding-left: 0vw;
  }


  /*Menu Page*/

  .sec-menu {
    padding-bottom:2.344vw;
  }

  .menu-tab-nav {
    width:90.625vw;
    margin-left: 0vw;
  }

  .menu-tab-nav li {
    width:12.500vw;
    margin-top:-6.250vw  ;
    margin-right: 7.188vw;
    margin-left: 0vw;
    text-align: center;
  }

  .menu-tab-nav li:nth-child(3n) {
    margin-right:3.438vw;
  }

  .menu-tab-nav li:nth-child(4n) {
    width: 19.688vw;
    margin-right: 2.813vw;
  }

  .menu-tab-nav li:nth-child(5n) {
    margin-right: 0vw;
  }

  .menu-tab-nav li img {
    width:12.500vw;
    margin-left: 0vw;
  }

  .menu-tab-nav li .nav-hover {
    left: 0;
  }

  .menu-tab-nav li:nth-child(4n) .nav-hover {
    left: 19%;
  }

  .menu-nav-txt {
    width:12.500vw;
    text-align: center;
  }

  .menu-tab-nav li:nth-child(4n) .menu-nav-txt {
    width: 21.719vw;
    margin-left: 0vw;

  }

  .menu-tab-content li {
    width:34.375vw;
    margin: 2.813vw 10.469vw 4.688vw 3.906vw;
  }

  .menu-tab-content li:nth-child(2n) {
    margin-right: 0vw;
  }

  .menu-tab-content li img {
    position: relative;
    border:0.313vw solid #fff;
    border-radius: 50%;
  }

  .menu-content-txt {
    top: 80%;
    right: 0;
    left: 0;
    padding: 0.8vw 0vw;
    font-size: 4.063vw;
  }

  /*Menu-detail*/
  .sec-menu-detail {
    padding:7.813vw 0vw;
  }

  .detail-left-column {
    float: none;
    width: 100%;
  }

  .detail-right-column {
    float: none;
    width: 100%;
  }

  .detail-left-column img {
    width: 70.313vw;
    margin:3.125vw 3.906vw 1.875vw 3.906vw;

  }
  .detail {
    width: 100%;
    padding-left: 0vw;

  }

  .detail .menu-cmn-txt {
    width: 100%;
    padding-bottom: 3.125vw;
    font-size:6.250vw;
    text-align: left;
    border-bottom: 0.313vw dashed #fff;
  }

  .detail .menu-cmn-txt span {
    float: right;
    color: #D50C0D;
    font-family: 'Century Gothic', sans-serif;
    font-size:4.688vw;

  }

  .detail-txt,
  .detail li {
    line-height:4.688vw;
    padding: 1.875vw 0vw 4.688vw 0vw;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    font-size: 2.188vw;
  }

  .detail li {
    position: relative;
    padding-top: 0vw;
    padding-bottom:0.781vw;
    padding-left: 4.688vw;
  }

  .detail li::before {
    top: 30%;
    right: 0;
    left: 0;
    font-size:2.500vw;
    content: "\f562";
    
  }

  .detail-cmn-ttl {
    padding-bottom: 3.125vw;
    color: #fff;
    font-family: 'Century Gothic', sans-serif;
    font-size: 3.906vw;
  }

  .topping-col {
    float: left;
    width: 51%;
  }

  .available-col {
    float: right;
    width: 49%;
  }

  .available-col .social-ico {
    width: 18.750vw;
    margin: 8.594vw 0vw 0vw 0.781vw;
  }

  .sec-menu-slider {
    padding-top: 0vw;
    padding-bottom:7.813vw;
  }

  .sec-menu-slider .detail-cmn-ttl {
    width: 100%;
    padding: 0vw;
    padding-left: 1.563vw;
    font-size: 4.688vw;
  }

  .sec-menu-slider .detail-cmn-ttl::after {
    position: absolute;
    top: 75%;
    right: 0;
    left: 32%;
    width: 70%;
    content: '';
    transform: translateY(-50%);
    border-bottom: 0.156vw dashed #707070;
  }

  .menu-slide {
    width: 100%;
    padding-left:4.688vw;

  }

  .menu-slide li {
    position: relative;
    float: left;
    width: 35vw;
    margin-top:4.688vw;
    margin-right:13.281vw;
    padding-top: 0vw;
  }

  .menu-slide li img {
    position: relative;
    width: 34.531vw;
    border:0.313vw solid #fff;
    border-radius: 50%;
  }

  .menu-slide .menu-content-txt {
    top: 83%;
    width:34.063vw;
    padding:0.625vw 0vw;
    font-size: 4.375vw;
  }

  /*Branches*/
  .sec-branches {
    padding-bottom:3.906vw;
  }

  .branches-ttl {
    padding:9.063vw 0vw 3.125vw 0vw;
    color: #fff;
    font-family: 'RockwellNovaW07-CondBold';
    font-size:5.469vw;
    text-align: center;
  }

  .img-1,
  .img-2,
  .img-3 {
    width: 100%;
    height: 40.938vw;
    margin: 2.500vw 0vw 1.563vw 0vw;

  }

  .img-2 {
    right: 0;
    float: right;
  }

  .img-3 {
    float: left;
    margin-top:2.344vw;
  }

  .branch-txt-box1,
  .branch-txt-box2,
  .branch-txt-box3 {
    width: 90.625vw;
    margin: 3.125vw 0vw 3.906vw 0vw;

  }

  .branch-txt-box1 {
    top: 45%;
    left: 40%;
    float: right;
  }

  .branch-txt-box2 {
    top: 79.5%;
    left: 5%;
    float: left;
    z-index: 99;
  }

  .branch-txt-box3 {
    top: 112%;
    left: 40%;
    float: right;

  }

  .branch-txt-box2 .branch-txt {
    padding-top:6.563vw;
    padding-bottom:2.188vw;
  }

  .branch-txt-box3 .branch-txt {
    padding-top: 6.250vw;
    padding-bottom:2.656vw;
  }

  .branch-txt-ttl {
    padding-bottom:0.781vw;
    padding-left:4.688vw;
    font-size: 4.688vw;
  }

  .branch-txt-ttl::before {
    top: 40%;
    right: 0;
    left: 0;
    font-size: 4.688vw;
    content: "\f3c5";
  }

  .branch-txt {
    padding:6.250vw 4.688vw 2.344vw 4.688vw;
  }

  .branch-info-txt {
    width:79.063vw;
    line-height: 4.688vw;
    padding-bottom: 3.125vw;
    font-size:2.188vw;

  }

  .address,
  .phone,
  .time {
    position: relative;
    padding-left:3.906vw;
  }

  .address::before,
  .phone::before,
  .time::before {
    left: 0;
    font-size: 2.344vw;
  }

  .address::before {
    top: 40%;
    content: "\f276";
  }

  .phone::before {
    top: 30%;
    content: "\f879";
  }

  .time::before {
    top: 30%;
    content: "\f073";
  }

}